<script>
    var count = false;

    function changeView() {
        if(count) {
            document.getElementById('div01').style.display = 'none';
            document.getElementById('div02').style.display = 'block';
            count = !count;
        }
        else {
            document.getElementById('div02').style.display = 'none';
            document.getElementById('div01').style.display = 'block';
            count = !count;
        }
    }
</script>



<h1>Comparison New</h1>

<button onclick="changeView()">Click To Change Table View</button><br><br><br>

<% require 'net/http' %>
<% require 'open-uri' %>

<div id="div01" style="display:none">
    <table>
        <tr>
            <th>TITLE</th>
            <th>IMDB RATING</th>
            <th>Year</th>
            <th>AWARDS</th>
            <th>Genre</th>
            <th>Runtime</th>
            <th>Language</th>
            <th>Country</th>
            <th>Metascore</th>
        </tr>
        <% @arrayAr.each do |a| %>
        <tr>
            <td><%= a['Title'] %></td>
            <td><%= a['imdbRating'] %></td>
            <td><%= a['Year'] %></td>
            <td><%= a['Awards'] %></td>
            <td><%= a['Genre'] %></td>
            <td><%= a['Runtime'] %></td>
            <td><%= a['Language'] %></td>
            <td><%= a['Country'] %></td>
            <td><%= a['Metascore'] %></td>
            <% if a['imdbRating'] %>
            <% if a['imdbRating'] > @bestRating && a['imdbRating'] != 'N/A' %>
            <% @bestRating = a['imdbRating'] %>
            <% @bestMovie = a['Title'] %>
            <% end %>
            <% else %>
            <% @bestMovie = '' %>
            <% end %>
        </tr>

<% end %>
    </table><br><br><br><br><br><br>
    
</div>

<div id="div02">

<table>
    <tr>
        <th>Movies - - - :</th>
        <% @arrayAr.each do |a| %>
        <th><%= a['Title'] %></th>
        <% end %>
    </tr>
    <tr>
        <td>IMDB Rating - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['imdbRating'] %></td>
        <% end %>
    </tr>
    <tr>
        <td>Year - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['Year'] %></td>
        <% end %>
    </tr>
    <tr>
        <td>Awards - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['Awards'] %></td>
        <% end %>
    </tr>
    <tr>
        <td>Genre - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['Genre'] %></td>
        <% end %>
    </tr>
    <tr>
        <td>Runtime - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['Runtime'] %></td>
        <% end %>
    </tr>
    <tr>
        <td>Language - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['Language'] %></td>
        <% end %>
    </tr>
    <tr>
        <td>Country - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['Country'] %></td>
        <% end %>
    </tr>
    <tr>
        <td>Metascore - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['Metascore'] %></td>
        <% end %>
    </tr>
    <tr>
        <td>IMDB Votes - - - :</td>
        <% @arrayAr.each do |a| %>
        <td><%= a['imdbVotes'] %></td>
        <% end %>
    </tr>
</table>
    
</div>

<br><br><br><br><br>

<h1>Best Movie(as per Imdb Ratings):</h1>
<h2><%= @bestMovie %></h2>

<%= link_to "Home", welcome_index_path %>
